#Git ignore file 
build/ 
dist/ 
*.exe
installer/
htmlcov-report/
*.log
*.tmp
.DS_Store
.vscode/
__pycache__/
*.pyc
.env
.idea/
htmlcov/
coverage.xml
*.egg-info/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.tox/
.coverage